:root {
  /* ffeb99 */
  /* daeba8 */
  /* cedca5 */
  --accent: #cedca5;
  --darkAccent: #2d5502;
}
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.app {
  display: flex;
  height: 100vh;
  font-family: "Nunito Sans", sans-serif;
  background-image: url('./images/bg4.jpg');
  background-size: cover;
}

.main-content {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0 20px 0;
  box-sizing: border-box;
}

.prediction-card {
  background-color: rgb(218, 235, 168,0.5);
  display: flex;
  width: 70%;
  padding: 10px;
  border: 1px solid #cedca5;
  border-radius: 20px;
}

.prediction-panel {
  flex: 0 0 50%;
  box-sizing: border-box;
}

.crop-form{
  min-height: 100px; 
  flex: 0 0 50%;
  box-sizing: border-box;
  overflow-y: auto; 
  padding: 20px; 
  margin: 0 auto; 
  border-radius: 8px; 
}

h2{
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}